/* =========== ABOUT ME SECTION =========== */
/* Use this to style the about me image */
.sidebar-my-image {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}


/* POSITION SOCIAL MEDIA ICONS */
.sidebar-social-media{
    padding: 5px;
    text-align: center;
  
}

/* SOCIAL MEDIA ICONS */
.sidebar-social-icon{
      display: inline-block;
      color: black;
      padding: 10px;
      margin: 10px;
      background-color: lavenderblush;
      border: 3px solid pink ;
}


/* =========== CTS SECTION =========== */

/* CTS Image Logo */
.sidebar-cts-logo{
    width: 100%;
}

/* CTS LINK */
.sidebar-cts-link{
    display: block;
    color:whitesmoke ; 
    text-decoration: none;            
    border: 2px solid deeppink ;
    background-color: lightpink; 
    text-align: center;      
    padding: 20px;
    margin-top: 30px;
}


/* =========== TAGS SECTION =========== */

.sidebar-tag {
    display: inline-block;
    padding: 12px;
    margin: 3px;
    background-color:antiquewhite ;
    color: crimson;
}


.sidebar-tag:hover {
    color: whitesmoke;
    background-color:LawnGreen ;
}

.sidebar-my-name{
    text-align: center;
    font-size: 20px;
    color: hotpink;
    font-weight: bold;
}
.sidebar-about-me{
    font-style: italic;
    text-align: center;
}
.sidebar-title{
    font-weight: bold;
}
.sidebar-cts-paragraph{
    font-style: italic;
    text-align: center;
    
}