/* =========== ABOUT ME SECTION =========== */
/* Use this to style the about me image */
.sidebar-my-image {
    border-radius: 50%;
    display: block;
    margin: auto;

}


/* POSITION SOCIAL MEDIA ICONS */
.sidebar-social-media{
    padding: 5px;
    text-align: center;
  
}

/* SOCIAL MEDIA ICONS */
.sidebar-social-icon{
      display: inline-block;
      color: black;
      padding: 10px;
      margin: 10px;

}


/* =========== CTS SECTION =========== */

/* CTS Image Logo */
.sidebar-cts-logo{
    width: 100%;
}

/* CTS LINK */
.sidebar-cts-link{
    display: block;

}


/* =========== TAGS SECTION =========== */

.sidebar-tag {
    display: inline-block;
    padding: 12px;
    margin: 3px;

}


.sidebar-tag:hover {

}


